
html, body, .my-wrapper {
    height: 100%;
}

i.icon-blue {
    color: #7e94ff;
}

.separate_lines{
    white-space: pre-line;
}

.modal {
    width: 60% !important ;
}

blockquote {
    font-size: 18px;
}

.background_header{
    height:300px;
    width: 100vw;
    position: fixed !important;;
}

.fixed_div{
    position: relative;
}

.logo_text{
    font-size: 22px;
    color: #458000;
}

#preview{
    margin: auto;
    display: block;
}

#videoMessage{
    position: absolute; top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gradient_text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
