# ignore jetbrain ide files
.idea/

# ignore node_modules
node_modules/

desktop-app/node_modules/
desktop-app/.env

# vscode ignores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# environment file
.env
